.site{
	color: #008080;
	text-shadow:2px 1px 1px #000;
	margin-left: 10%;
	margin-top: 0%;
	font-size: 40px;
	font-family: cursive;
}

.menu{
	padding: 2%;
	text-align: right;
	margin-top: 2%;
}

.menus{
	max-width: 100%;
}

.searchform {
	margin-top: 40px;
	display: inline-block;
	zoom: 1; /* ie7 hack para display:inline-block */
	*display: inline;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */

}

.bajar{
	margin-top: 2%;
	margin-left: 10%;
}


.searchform input {
	font: normal 12px/100% Arial, Helvetica, sans-serif;
}

.searchform .searchfield {
	background: #fff;
	padding: 6px 6px 6px 8px;
	width: 202px;
	border: solid 1px #bcbbbb;
	outline: none;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	}

.searchform .searchbutton {
	color: #fff;
	border: solid 1px #494949;
	border-radius: 10px;
	font-size: 11px;
	height: 27px;
	width: 27px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
	background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */

}

.accion{
	margin-top: 2px;
	padding: 10px 20px 10px 20px;
}

.nav{
	margin-left: 20px;
	margin-right: 20px;
}

.image{
	max-width: 100%;
}	

.caja{
	background-image: url(../img/aa050725f5b307b55787c651abeca8ee.jpg);
	background-size: cover;
	margin: 3%;
	width: 70%;
	padding: 1%;
	margin-bottom: 10px;
}

.hi{
	color: black;
	text-align: center;
	font-family: lobster;
}

.caja2{
	background-image: url(../img/aa050725f5b307b55787c651abeca8ee.jpg);
	background-size: cover;
	margin: 3%;
	width: 33%;
	text-align: center;
	font-size: 19px;
	margin-bottom: 10px;
}

.cajagrande{
	background-color: #b3b3b3;
	padding: 10px;
}

.raya{
	border-top: 1px solid gray;
	max-width: 100%;
	padding: 10px;
}

.cajaa{
	background-color:#008080 ;
	margin: 3%;
	max-width: 100%;
	text-align: center;
	font-size: 17px;
	border-radius: 20px 20px 0px 20px;
	font-family: 'Poiret One', cursive;
	margin-bottom: 10px;
}

.eventos {
	background-image: url(../img/Calvin-Harris-@-Hakkasan-Photo-by-Rukes-64h1ex0whqa36wchvgftah32z8t1nsszulgxv5f3pa6.jpg);
	background-size: cover;
	color: transparent;
	margin: 4%;
}

.eventos:hover{
	color: white;
	background-color: #158b7d;
	text-align: center;
	text-shadow: 4px 4px 3px black;
	height: 100px;

}

.eventos2{
	background-size: cover;
	margin: 4%;
	color: transparent;
	background-image: url(../img/tumblr_static_axgkdzxpj14ck48oggsgkkgcs.jpg);
}

.eventos2:hover{
	color: white;
	text-align: center;
	height: 100px;
	text-shadow: 4px 4px 3px black;
}

iframe{
	max-width: 100%;
}

.opinion{
	max-width: 100%;

}




